
ion-content {
    --background: linear-gradient(180deg, rgba(74,157,76,1) 34%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    ion-grid {
      max-width: 600px;
      width: 100%;
      padding-top: 120px;
    }
  
    ion-row {
      margin-bottom: 0px; 
    }
  
    .icono-titulo-container {
      display: flex;
      align-items: center;
  
      ion-icon {
        margin-right: 8px;
      }
    }
  
    ion-card {
      margin: 5px; 
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      ion-card-header {
        ion-card-title {
          font-weight: bold;
        }
      }
    }
}